.tray-menu {
  background-color: #3b4252;
}

.tray-menu-row {
  background-color: #4c566a;
  padding: 2px;
}

.separator {
  background-color: #4c566a;
}

.tray-menu-row:hover {
  background-color: #81a1c1;
}